name: Nightly Build

on:
  schedule:
    - cron:  '0 0 * * *'
  push:

  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Manual trigger'
  
jobs:
  build:
    runs-on: ubuntu-20.04
    
    container: qmkfm/qmk_cli
    
    steps:
    - name: Checkout qmk_firmware
      uses: actions/checkout@v2
      with:
        submodules: recursive
        repository: qmk/qmk_firmware
        path: qmk_firmware
        ref: develop
        fetch-depth: 1
      
    - name: Remove ".noci"
      run: |
        find . -name ".noci" -type f -delete
        
    - name: Build
      working-directory: qmk_firmware
      #env:
      #  MAKEFLAGS: '-j3 --output-sync'
      run: |
        avr-gcc --version
        git clean -xfd && make git-submodule && qmk mass-compile -j3 -km via || true
        cat .build/failed* > failures.log || true

    - name: 'Upload failures log'
      uses: actions/upload-artifact@v2
      with:
        name: Artifacts
        path: |
          qmk_firmware/failures.log 
        
    - name: Sort output
      shell: bash
      run: |
        for file in *.hex *.bin *.uf2; do
          DIR=fw_output/$(echo $file | cut -d'_' -f1)
          [ -f "$file" ] && (mkdir -p "$DIR"; mv -v "$file" "$DIR/") || true
        done
      
    - name: Update Readme
      shell: bash "{0}"
      run: |
        echo -e "VIA enabled QMK compiled HEX and BIN files on the DEVELOP branch\n\n# THESE ARE EXPERIMENTAL \n\n This has been compiled on $(git -C $PWD/qmk_firmware describe --abbrev=0 --tags)" > README.md

    - name: Add safe directory
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      
    - name: Commit
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Nightly Build
        push_options: --force
        
    - name: "Run if changes have been detected"
      if: steps.auto-commit-action.outputs.changes_detected == 'true'
      run: echo "Changes!"

    - name: "Run if no changes have been detected"
      if: steps.auto-commit-action.outputs.changes_detected == 'false'
      run: echo "No Changes!"
